$color-black: rgba(0, 0, 0, 1);
$color-dark: rgba(28, 28, 28, 1);
$color-brown: rgba(124, 106, 70, 1);
$color-white: rgba(255, 255, 255, 1);
$color-light-grey: rgba(250, 250, 250, 1);
$color-dark-grey: rgba(159, 159, 159, 1);
$color-input-bg: rgba(245, 245, 245, 1);
$color-green: rgba(0, 166, 153, 1);
$color-pink: rgba(255, 172, 152, 1);
$color-shadow: rgba(0, 0, 0, 0.1);

$font-size-xl2: 60px;
$font-size-xl: 54px;
$font-size-lg: 50px;
$font-size-md2: 42px;
$font-size-md: 30px;
$font-size-sm: 24px;
$font-size-xs: 20px;
$font-size-xs2: 16px;
$font-size-xs3: 14px;
$font-size-xs4: 12px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;
$font-weight-extraBold: 800;

$border-radius-xs: 5px;
$border-radius-sm: 8px;
$border-radius-md: 10px;
$border-radius-lg: 15px;
$border-radius-circle: 50%;

$breakpoint-mobileS: 420px;
$breakpoint-mobileM: 450px;
$breakpoint-tabletS: 500px;
$breakpoint-tabletM: 670px;
$breakpoint-laptopS: 740px;
$breakpoint-laptopM: 840px;
$breakpoint-desktopS: 920px;
$breakpoint-desktopM: 1150px;
$breakpoint-desktopL: 1600px;
