.videoPlayer {
  width: 100%;
  position: relative;
  margin-bottom: 54px;
}

.videoContent {
  width: 100%;
}

.playButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  transition: 0.3s all ease-in-out;
  box-shadow: 0px 4px 30px 10px $color-shadow;
  border-radius: $border-radius-circle;

  &.isActive {
    opacity: 40%;
    box-shadow: none;
  }

  & svg {
    width: 130px;
  }
}

@media screen and (max-width: $breakpoint-laptopM) {
  .videoPlayer {
    margin-bottom: 40px;
  }

  .playButton svg {
    width: 60px;
  }
}
