.sliderContainer {
  @include flex($align: center, $justify: space-between);

  max-width: 600px;
  max-height: 500px;
}

.mainSlider {
  height: 100%;
  overflow: hidden;
  border-radius: $border-radius-lg;
}

.thumbnailSlider {
  width: 100%;
  height: 100%;
  max-width: 80px;
  margin-right: 20px !important;
  min-width: 80px;
}

.mainSlide {
  background: $color-slide-bg;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.mainImage {
  height: auto;
  width: 100%;
  padding: 15px;
}

.thumbnailSlide {
  cursor: pointer;
  transition: border 0.3s ease-in-out;
  background: $color-slide-bg;
  max-height: 80px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.thumbnailImage {
  width: 100%;
  height: auto;
  border-radius: $border-radius-md;
  padding: 0 5px;
}

@media screen and (max-width: $breakpoint-tabletM) {
  .sliderContainer {
    flex-direction: column;
    width: 100%;
  }

  .mainSlider {
    width: 100%;
  }

  .mainSlide {
    width: auto;
  }

  .thumbnailSlider {
    margin-bottom: 20px;
    width: 100%;
    max-width: none;
    height: 80px;
  }

  .thumbnailSlide {
    height: 100%;
    padding: 0;
  }

  .thumbnailImage {
    width: 100%;
    height: auto;
  }
}
